.customHr {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.posRelative {
    position: relative;
}

.posAbsolute {
    position: absolute;
}

#bgVideo {
    min-width: 100%;
    max-height: inherit;
    min-height: inherit;
    opacity: 0.5;
    object-fit: cover;
  }